:root {
    --title-color: #6278B4;
    --background-color: #DDF9FF;
    --second-background-color: #FBFCFF;
    --footer-background: #535353;
    --text-color: #3A2E2E;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    color: var(--text-color);
}

.container {
    width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav-link {
    font-size: 24px;
    font-weight: 700;
    margin-left: 64px;
    color: var(--text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--title-color);
}

.header-nav-list {
    display: flex;
}

.header-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 32px;
    background-color: var(--background-color);
    padding-bottom: 84px;
}

.header-subtitle {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.header-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 103.5%;
    margin-bottom: 16px;
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 153%;
    margin-bottom: 32px;
}

.header-btn {
    border-radius: 30px;
    color: var(--second-background-color);
    background-color: var(--title-color);
    font-size: 20px;
    font-weight: 900;
    line-height: 153%;
    padding: 16px 22px;
    border: none;
    cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
    color: var(--title-color);
    background-color: var(--second-background-color);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.services {
    padding-top: 24px;
    background-color: var(--second-background-color);
}

.services-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: center;
}

.services-word {
    color: var(--title-color);
}

.services-line {
    width: 351px;
    height: 4px;
    background-color: var(--title-color);
    margin: 0 auto;
    margin-bottom: 47px;
}

.services-text {
    line-height: 153%;
    font-size: 14px;
    font-weight: 400;
}

.services-subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 153%;
    margin-bottom: 25px;
}

.services-wrap {
    margin-left: 15px;
}

.services-item {
    display: flex;
    width: 350px;
    margin-bottom: 51px;
}

.services-img {
    width: 49px;
    height: 49px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-color);
}

.work-title {
    font-weight: 900;
    line-height: 153%;
    font-size: 48px;
    color: var(--title-color);
    margin-bottom: 28px;
    margin-top: 68px;
}

.work-text {
    font-size: 20px;
    font-weight: 500;
}

.work-wrap {
display: flex;
justify-content: space-around;
}
.team{
background-color: var(--second-background-color);
padding-top: 32px;
padding-bottom: 64px
}
.team-title{
font-size: 48px;
font-weight: 600;
margin-bottom: 18px;
text-align: center;
}
.team-word{
color: var(--title-color);
}
.team-line{
width: 351px;
height: 4px;
margin: 0 auto;
background-color: var(--title-color);
margin-bottom: 40px;
}
.team-list{
display: flex;
justify-content: space-between;
}
.team-img{
width: 380px;
}
.team-wrap{
padding-top: 32px;
}
.item-line{
    width: 224px;
    height: 4px;
    background-color: var(--text-color);
    margin: 0 auto;
    margin-bottom: 32px;
}
.team-name{
font-size: 32px;
font-weight: 600;
text-align: center;

}
.footer{
background-color: var(--footer-background);



}
